<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Mars!</title>
  </head>

  <body id="bootstrap-overrides">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Mars Data!</a></p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Latest News:</h2>
          <h3>{{ mars.title }}</h3>
          <p>{{ mars.paragraph }}</p>
        </div>
        <div class="col-sm">
          <h3>Fun Mars facts for your next dinner party!</h3>
          {{ mars.mars_fact_table | safe }}
        </div>
        <div class="col-sm">
          <h3>JPL Image of the Day</h3>
          <img src={{ mars.jpl_img }}>
        </div>
      </div>
      <br><br>
      <div class="row">
        <h3>Mars Hemispheres</h3>
        <div class="card-deck">
          {% for hemisphere in mars.hemisphere_image_urls %}
            <div class="card">
              <img src="{{ hemisphere.url }}" class="card-img-top" alt="{{ hemisphere.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ hemisphere.title }}</h5>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
